.header {
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  max-width: 1440px;

  @include vp-767 {
    position: relative;
    border-bottom: 2px solid $color-default-black;
  }
}

.header__wrapper {
  min-height: 104px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: $color-default-white;

  position: relative;

  @include vp-1439 {
    padding: 0 80px;
  }

  @include vp-999 {
    padding: 0 25px;
  }

  @include vp-767 {
    padding: 0 20px;
    min-height: 98px;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    min-width: 320px;
    max-width: 100%;
  }
}

.header__logo {
  max-width: 136px;
  max-height: 100px;
  cursor: pointer;

  margin: -40px 0 0 -41px;

  @include vp-1439 {
    margin: -38px 0 0 -51px;
  }

  @include vp-999 {
    margin: -37px 0 0 4px;
  }

  @include vp-767 {
    margin: -38px 0 0 -20px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.header__subwrapper {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 0 40px;
  background-color: white;

  @include vp-1439 {
    margin: 0 0 0 35px;
  }

  @include vp-767 {
    display: none;

    flex-direction: column;
    margin: 0;

    max-width: 382px;
    max-height: 572px;
    flex-shrink: 0;
  }

  @include vp-479 {
    max-height: 500px;
  }
}

.header__button {
  max-width: 177px;
  min-height: 57px;
  height: fit-content;
  border: 2px solid $color-default-black;
  background-color: $color-paris-daisy;
  padding: 16px 32px;

  font-size: 18px;
  color: $color-default-black;

  cursor: pointer;
  user-select: none;

  @include vp-767 {
    max-width: 239px;
    min-height: 67px;

    font-size: 28px;

    padding: 14px 42px;
    margin-bottom: 35px;
    border-top: 2px solid $color-default-black;
    border-right: 6px solid $color-default-black;
    border-bottom: 6px solid $color-default-black;
    border-left: 2px solid $color-default-black;
  }

  @include vp-479 {
    max-width: 193px;
    min-height: 56px;
    font-size: 20px;
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
    border-color: $color-brilliat-rose;
    color: $color-brilliat-rose;
  }
}

.header__social {
  display: none;

  @include vp-767 {
    display: flex;
  }
}

.header__subwrapper.is-opened {
  display: unset;
  position: absolute;
  content: "";
  top: 100px;
  right: 0;
  z-index: 1;
  background-image: url("../img/background-dot-black.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  padding: 63px 45px 79px 34px;

  border-top: 2px solid $color-default-black;
  border-right: 4px solid $color-default-black;
  border-bottom: 6px solid $color-default-black;
  border-left: 2px solid $color-default-black;
}

.header.is-opened {
  &::before {
    content: "";
    position: fixed;
    z-index: 1;
    background-color: $overlay-dark;
    opacity: 1;
    inset: 0;
    transform: scale(1);
  }
}
